@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* Step -2: 12.50px → 12.80px */
.step--2 {
  font-size: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem)
}

/* Step -1: 15.00px → 16.00px */
.step--1 {
  font-size: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem)
}

/* Step 0: 18.00px → 20.00px */
.step-0 {
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem)
}

/* Step 1: 21.60px → 25.00px */
.step-1 {
  font-size: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem)
}

/* Step 2: 25.92px → 31.25px */
.step-2 {
  font-size: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem)
}

/* Step 3: 31.10px → 39.06px  */
.step-3 {
  font-size: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem)
}

body {
  background-color: #251F46;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}

.bg {
  background: linear-gradient(180deg, rgba(169, 163, 194, .2) 0%, rgba(169, 163, 194, .048) 100%);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.514);

}

.width {
  width: min(85%, 1280px)
}

.gridTempate {
  display: grid;
  grid-template-rows: min(3vw, 3rem) 1fr auto;
  grid-template-columns: 100%;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.514);
  border-radius: 4px;
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.px {
  padding-inline: min(2vw, 2rem);
}

.header-width {
  background-color: #242346;
  border-right: 1px solid rgba(255, 255, 255, 0.150);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.gap {
  gap: min(3vh, 3rem);
}

.grid-cols {
  grid-template-columns: repeat(3, min(100%, 112px));
}

.layout-grid {
  display: grid;
  grid-template-columns: 250px 1fr;

}

/* media query for devices below 500px   */
@media only screen and (max-width: 750px) {
  .layout-grid {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
  }
}                        